.banner{
background-color:palegreen;
width:100%;
height:100px;
margin-bottom:50px;
margin-top:10px;
margin-left:20px;
border-style:rounded;
}

.banner-text{
color:teal;
top:30px;
left:30%;
position:absolute;
transform:transform;
}

.card{
margin-bottom:5px;
margin-top:5px;
}